<footer class="page-footer font-small pt-1 text-left py-3">
    <div class="row">
        <div class="col-md-4" ></div>
        <div class="col-md-4 text-center" id="linha1">
            <a class = "my-2 my-sm-0" target="_blank" id="git" target="_blank">Dando valor aos seus livros</a>
        </div>
        <div class="col-md-4" ></div>
    </div>
    <div class="row">
        <div class="col-md-2" ></div>
        <div class="col-md-8 text-center" id="linha2"> 
            <a class = "my-2 my-sm-0 " target="_blank" id="git" target="_blank">Seu sistema de controle de empréstimos e devoluções</a>
        </div>
        <div class="col-md-2" ></div>
    </div>
</footer>
